@tailwind base;
@tailwind components;
@tailwind utilities;

/* Performance Optimizations */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-y: scroll;
    overscroll-behavior: none;
}
